div.page-grid {
    display: grid;
    
    text-align: center;
    
    font-size: 1.2rem;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 2%;
    
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.inner-box {
    display: block;
    
    margin: auto;
    
    margin-top:    5%;
    margin-bottom: 5%;
    
    padding-top:    5%;
    
    width:  90%;
    
    cursor: pointer;
    
    border: solid 2px light-dark(#484050, #908088);
}

div.inner-box:hover {
    margin-top:    0%;
    margin-bottom: 0%;
    
    width:  100%;
}

div.inner-box img {
    width:   90%;
    height: auto;
}
