div.page-grid {
    display: grid;
    
    text-align: center;
    
    font-size: 1.2rem;
    
    grid-template-columns: 1fr 1fr;
    
    gap: 2%;
    
    cursor: default;
    
    user-drag: none;
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (orientation:landscape) {
    div.page-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

div.inner-box {
    display: block;
    
    margin: auto;
    
    margin-top:    5%;
    margin-bottom: 5%;
    
    padding-top:    5%;
    
    width:  90%;
    
    cursor: pointer;
    
    border: solid 2px light-dark(#484050, #908088);
}

div.inner-box:hover {
    margin-top:    0%;
    margin-bottom: 0%;
    
    width:  100%;
}

img.grid-image {
    user-drag: none;
    -webkit-user-drag: none;
    
    max-width:  90%;
    max-height: 90%;
}


#display-box {
    display: none;
    
    position: fixed;
    
    z-index: 1;
    
    font-size: 1.8rem;
    
    text-align: center;
    
    border: solid 3px light-dark(#484050, #908088);
    border-radius: 15px;
    
    background-color: light-dark(#d0c0c8,   #080010);
    background-color: light-dark(#d0c0c8e0, #080010e0);
    
    cursor: default;
    
    user-drag: none;
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (orientation:portrait) {
    #display-box {
        width:  90vw;
        height: 90vw;
        
        top:  5vw;
        left: 5vw;
    }
}

@media (orientation:landscape) {
    #display-box {
        width:  90vh;
        height: 90vh;
        
        top:  5vh;
        left: calc(50vw - 45vh);
    }
}

#display-inner {
    margin: 5% auto;
    
    padding: 5px;
    
    width:  auto;
    height: auto;
    
    max-width:  80%;
    max-height: 80%;
}

#display-image {
    display: block;
    
    max-width:  90%;
    max-height: 90%;
    
    margin: auto;
}


.display-button {
    position: absolute;
    
    border: 2px solid light-dark(#908088, #484050);
    border-radius: 10px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.display-button:hover {
    background-color: light-dark(#686070, #706068);
}

#display-close {
    right: 5px;
    top:   5px;
    
    width:  50px;
    height: 50px;
}

#display-left {
    left:  5px;
    top:  80px;
    
    width:  40px;
    height: calc(100% - 100px);
}

#display-right {
    right:  5px;
    top:   80px;
    
    width:  40px;
    height: calc(100% - 100px);
}

@media (orientation:portrait) {
    #display-close {
        width:  75px;
        height: 60px;
    }
}
