div.page-grid {
    display: grid;
    
    text-align: center;
    
    font-size: 1.2rem;
    
    grid-template-columns: 1fr 1fr;
    
    gap: 2%;
    
    cursor: default;
    
    user-drag: none;
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (orientation:landscape) {
    div.page-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

div.inner-box {
    display: block;
    
    margin: auto;
    
    margin-top:    5%;
    margin-bottom: 5%;
    
    padding-top:    5%;
    
    width:  90%;
    
    cursor: pointer;
    
    border: solid 2px light-dark(#484050, #908088);
}

div.inner-box:hover {
    margin-top:    0%;
    margin-bottom: 0%;
    
    width:  100%;
}

div.display-box {
    display: none;
    
    position: fixed;
    
    z-index: 1;
    
    font-size: 1.8rem;
    
    text-align: center;
    
    border: solid 3px light-dark(#484050, #908088);
    border-radius: 15px;
    
    background-color: light-dark(#d0c0c8,   #080010);
    background-color: light-dark(#d0c0c8e0, #080010e0);
    
    cursor: default;
    
    user-drag: none;
    -webkit-user-drag: none;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (orientation:portrait) {
    div.display-box {
        width:  100vw;
        height: 100vw;
        
        top:  0px;
        left: 0px;
    }
}

@media (orientation:landscape) {
    div.display-box {
        width:  100vh;
        height: 100vh;
        
        top:  0px;
        left: calc(50vw - 50vh);
    }
}

div.display-inner {
    margin: 5% auto;
    
    padding: 5px;
    
    width:  auto;
    height: auto;
    
    max-width:  80%;
    max-height: 80%;
}

img.grid-image {
    user-drag: none;
    -webkit-user-drag: none;
    
    max-width:  90%;
    max-height: 90%;
}

img.display-image {
    display: block;
    
    max-width:  90%;
    max-height: 90%;
    
    margin: auto;
}


#display-close {
    position: absolute;
    
    right: 5px;
    top:   5px;
    
    padding-top: 10px;
    
    width:  50px;
    height: 40px;
    
    border: 2px solid light-dark(#908088, #484050);
    border-radius: 10px;
    
    cursor: pointer;
}

#display-close:hover {
    background-color: light-dark(#686070, #706068);
}
