:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(#c0b0b8, #181020);
    
    color: light-dark(#181020, #c0b0b8);
    
    font-family: sans-serif;
    
    margin-left:  15%;
    margin-right: 15%;
}

h1 {
    color: light-dark(#484050, #908088);
    
    text-align: center;
    
    font-size: 4em;
    
    font-family: cursive;
    
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

h2 {
    color: light-dark(#484050, #908088);
    
    text-align: left;
    
    font-size: 1.8em;
    
    font-family: sans-serif;
    
    border-bottom: 2px solid light-dark(#484050, #908088);
}

p.page-content {
    text-indent: 40px;
}

ul.page-content {
}

div.page-content {
    line-height: 1.6;
    
    margin-top:    40px;
    margin-bottom: 60px;
    
    margin-left:  5%;
    margin-right: 5%;
}

div.page-grid {
    display: grid;
    
    grid-template-columns: auto auto auto auto;
    
    column-gap: 2%;
    row-gap:    2%;
}

div.grid-box {
    width:  auto;
    height: auto;
    
    border: solid 1px green;
}

div.inner-box {
    display: block;
    
    margin: auto;
    
    width:  90%;
    height: 90%;
    
    border: solid 1px red;
}

div.inner-box:hover {
    width:  100%;
    height: 100%;
}

div.grid-box img {
    width:  100%;
    height: auto;
}

a:link {
    color: light-dark(#000000, #ffffff);
    
    text-decoration: none;
    
    font-weight: bold;
}

a:visited {
    color: light-dark(#402020, #804040);
    
    text-decoration: none;
    
    font-weight: bold;
}

a:hover {
    color: light-dark(#303030, #a0a0a0);
    
    text-decoration: underline;
    
    font-weight: bold;
}

a:active {
    text-decoration: none;
    
    font-weight: bold;
}


.inverse a:link {
    color: light-dark(#ffffff, #000000);
    
    text-decoration: none;
    
    font-weight: bold;
}

.inverse a:visited {
    color: light-dark(#b04040, #501010);
    
    text-decoration: none;
    
    font-weight: bold;
}

.inverse a:hover {
    color: light-dark(#a0a0a0. #303030);
    
    text-decoration: underline;
    
    font-weight: bold;
}

.inverse a:active {
    text-decoration: none;
    
    font-weight: bold;
}


td.menu-bar {
    border: 2px solid light-dark(#908088, #484050);
    
    cursor: pointer;
}

td.menu-bar:hover {
    background-color: light-dark(#686070, #706068);
}

div.drop-down {
    border: 2px solid light-dark(#908088, #484050);
    
    cursor: pointer;
    
    margin-bottom: 2px;
    
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    5px;
    padding-bottom: 5px;
}

div.drop-down:hover {
    background-color: light-dark(#686070, #706068);
}

div.drop-down-outer {
    border: 2px solid light-dark(#908088, #484050);
    
    cursor: default;
    
    margin-bottom: 2px;
    
    padding-left:  10px;
    padding-right:  0px;
}

div.drop-down-inner {
    border: 2px solid light-dark(#908088, #484050);
    
    cursor: pointer;
    
    margin-bottom: 2px;
    
    padding-left:  10px;
    padding-right: 10px;
    padding-top:    3px;
    padding-bottom: 3px;
}

div.drop-down-inner:hover {
    background-color: light-dark(#686070, #706068);
}

table.drop-down-table {
    margin-right: 0px;
    margin-left:  auto;
}

span.big-brace {
    font-size:   3em;
    font-weight: lighter;
}

td.menu-noop, div.menu-noop {
    cursor: not-allowed;
}


#menu-bar {
    background-color: light-dark(#484050, #908088);
    
    width:  100%;
    height: 50px;
    
    color: light-dark(#c0b0b8, #181020);
    
    font-weight: bold;
    
    font-size: 2rem;
    
    text-align: center;
    
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#usr {
    width: 50px;
}

#home {
    width: 50px;
}

#hamburger {
    width: 50px;
}

#hamburger-drop-menu {
    background-color: light-dark(#484050, #908088);
    
    color: light-dark(#c0b0b8, #181020);
    
    font-weight: bold;
    
    font-size: 1.6rem;
    
    text-align: center;
    
    display: none;
    
    position: absolute;
    
    right: 15%;
    
    padding-left:  2px;
    padding-right: 2px;
    
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#footer {
    background-color: light-dark(#484050, #908088);
    
    color: light-dark(#c0b0b8, #181020);
    
    font-size: 0.8rem;
    
    max-width: 100%;
    
    padding-left:   50px;
    padding-right:  50px;
    padding-top:    20px;
    padding-bottom: 20px;
    
    font-weight: bold;
    /*
    font-size: 2rem;
    
    text-align: center;
    */
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
