:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(#c0b0b8, #181020);
    
    color: light-dark(#181020, #c0b0b8);
    
    font-family: sans-serif;
    
    margin-left:  15%;
    margin-right: 15%;
}

h1 {
    color: light-dark(#484050, #908088);
    
    text-align: center;
    
    font-size: 4em;
    
    font-family: cursive;
    
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1 img {
    height: 50px;
    width:  50px;
}

h2 {
    color: light-dark(#484050, #908088);
    
    text-align: left;
    
    font-size: 1.8em;
    
    font-family: sans-serif;
    
    border-bottom: 2px solid light-dark(#484050, #908088);
}

p.page-content {
    text-indent: 40px;
}

ul.page-content {
}

div.page-content {
    line-height: 1.6;
    
    margin-top:    40px;
    margin-bottom: 60px;
    
    margin-left:  5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
    
    font-weight: bold;
}

a:link {
    color: light-dark(#000000, #ffffff);
}

a:visited {
    color: light-dark(#402020, #804040);
}

a:hover {
    color: light-dark(#303030, #a0a0a0);
    
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}


.inverse a {
    font-weight: 900;
    
    text-decoration: none;
}

.inverse a:link {
    color: light-dark(#ffffff, #000000);
}

.inverse a:visited {
    color: light-dark(#b04040, #501010);
}

.inverse a:hover {
    color: light-dark(#d0d0d0, #101010);
    
    text-decoration: underline;
}

.inverse a:active {
    text-decoration: none;
}


#footer {
    background-color: light-dark(#484050, #908088);
    
    color: light-dark(#c0b0b8, #181020);
    
    font-size: 0.8rem;
    
    font-weight: 600;
    
    max-width: 100%;
    
    padding-left:   50px;
    padding-right:  50px;
    padding-top:    20px;
    padding-bottom: 20px;
    /*
    font-weight: bold;
    */
    cursor: default;
    
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
