body {
    background-color: #181020;
    
    color: #ffeff7;
    
    font-family: sans-serif;
}

h1 {
    color: #8f7f87;
    
    text-align: center;
    
    font-size: 4em;
    
    font-family: cursive;
}

h2 {
    color: #8f7f87;
    
    text-align: left;
    
    font-size: 2em;
    
    font-family: sans-serif;
}

h2:after {
    content: '\a0';
}
